<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509102065983-s3jjotjfl20tg7rt58pu1clqp909l3lt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509102065983-s3jjotjfl20tg7rt58pu1clqp909l3lt</string>
	<key>API_KEY</key>
	<string>AIzaSyAquJiRLf4mul5V-46qbZIzp2jjtGszfgg</string>
	<key>GCM_SENDER_ID</key>
	<string>509102065983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-173cc</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-173cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509102065983:ios:bd53b0242d2d9bb7b36b8a</string>
</dict>
</plist>